@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Italiana', sans-serif;
    background-color: #F5FBE6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    width: 100%;
    height: 25vh;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    background-color: #215E61;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.hero-header h1 {
    font-size: clamp(45px, 5vw, 86px);
    color: #FE7F2D;
}

.search-box {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-box input {
    padding: clamp(5px, 1.5vw, 10px);
    font-size: 16px;
    border: none;
    border-radius: 36px;
    width: 75%;
}

.search-box button {
    padding: 10px 20px;
    font-size: clamp(16px, 1.5vw, 20px);
    border: none;
    border-radius: 36px;
    background-color: #FE7F2D;
    color: #F5FBE6;
    cursor: pointer;
    margin-top: 10px;
}

.search-box button:hover {
    background-color: #E76F51;
    cursor: pointer;
}

.search-box input:focus {
    outline: none;
    border: 2px solid #FE7F2D;
}

.icons {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.icons button {
    background-color: transparent;
    border: none;
    color: #F5FBE6;
    font-size: clamp(24px, 2vw, 36px);
    cursor: pointer;
}

.icons button:hover {
    color: #E76F51;
}

main {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h2 {
    font-size: clamp(24px, 3vw, 36px);
    color: #233D4D;
}

.logout-btn-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.logout-btn-container button {
    background-color: #FE7F2D;
    color: #F5FBE6;
    padding: 10px 20px;
    border: none;
    border-radius: 36px;
    font-size: clamp(14px, 2vw, 18px);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn-container button:hover {
    background-color: #E76F51;
}

.slider {
    margin: 0 auto;
    max-width: 640px;
    max-height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    max-width: 640px;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.manual-btn {
    border: 2px solid #FE7F2D;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.manual-btn:hover {
    background-color: #FE7F2D;
}

.manual-btn:not(:last-child) {
    margin-right: 30px;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid #FE7F2D;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    max-width: 640px;
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #FE7F2D;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #FE7F2D;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #FE7F2D;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #FE7F2D;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    width: 100%;
    height: 30%;
    margin-bottom: 20px;
}

.produtos {
    width: 50%;
    height: 20%;
}

.produto {
    background-color: #D9D9D9;
    padding: 10px;
    color: black;
    font-size: clamp(14px, 1.2vw, 18px);
}

.produto button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 36px;
    background-color: #215E61;
    color: #F5FBE6;
    font-size: clamp(16px, 1.5vw, 20px);
    cursor: pointer;
}

.produtos img {
    width: 100%;
    height: 20vh;
    border-radius: 20px;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #215E61;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


footer a {
    color: #C16226;
    font-size: clamp(16px, 1.5vw, 20px);
}

@media (max-width: 768px) {

    .header {
        height: 30vh;
        width: 100%;
    }

    .icons {
        top: 20px;
        right: 10px;
    }

    .produtos {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}
