@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Italiana', sans-serif;
    background-color: #F5FBE6;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header {
    width: 100%;
    height: 25%;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    background-color: #215E61;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
}

.hero-header h1 {
    font-size: clamp(55px, 5vw, 86px);
    color: #FE7F2D;
}

.search-box {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.search-box input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 36px;
    width: 75%;
}

.search-box button {
    padding: 10px 20px;
    font-size: clamp(16px, 1.5vw, 20px);
    border: none;
    border-radius: 36px;
    background-color: #FE7F2D;
    color: #F5FBE6;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #E76F51;
    cursor: pointer;
}

.search-box input:focus {
    outline: none;
    border: 2px solid #FE7F2D;
}

.icons {
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

.icons button {
    background-color: transparent;
    border: none;
    color: #F5FBE6;
    font-size: clamp(24px, 2vw, 36px);
    cursor: pointer;
}